* {
    margin: 0;
    padding: 0;
}

.premier_fenetre {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('./recipes/images/kitchen-work.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.entete {
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.separateur {
    border: 0.5px solid;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.liens_gauche, .liens_droite {
    display: flex;
    gap: 16px;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.text {
    position: absolute;
    left: 10%;
    top: 60%;
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-family: monospace;
}
